[0;1;31m●[0m haproxy.service - HAProxy Load Balancer
     Loaded: loaded (/lib/systemd/system/haproxy.service; enabled; vendor preset: enabled)
     Active: [0;1;31mfailed[0m (Result: exit-code) since Fri 2023-07-07 23:12:04 UTC; 57s ago
       Docs: man:haproxy(1)
             file:/usr/share/doc/haproxy/configuration.txt.gz
    Process: 70814 ExecStart=/usr/sbin/haproxy -Ws -f $CONFIG -p $PIDFILE $EXTRAOPTS [0;1;31m(code=exited, status=1/FAILURE)[0m
   Main PID: 70814 (code=exited, status=1/FAILURE)

Jul 07 23:12:04 201849-lb-01 systemd[1]: [0;1;39m[0;1;31m[0;1;39mhaproxy.service: Main process exited, code=exited, status=1/FAILURE[0m
Jul 07 23:12:04 201849-lb-01 systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mhaproxy.service: Failed with result 'exit-code'.[0m
Jul 07 23:12:04 201849-lb-01 systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start HAProxy Load Balancer.[0m
Jul 07 23:12:04 201849-lb-01 systemd[1]: haproxy.service: Scheduled restart job, restart counter is at 5.
Jul 07 23:12:04 201849-lb-01 systemd[1]: Stopped HAProxy Load Balancer.
Jul 07 23:12:04 201849-lb-01 systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mhaproxy.service: Start request repeated too quickly.[0m
Jul 07 23:12:04 201849-lb-01 systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mhaproxy.service: Failed with result 'exit-code'.[0m
Jul 07 23:12:04 201849-lb-01 systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start HAProxy Load Balancer.[0m
